html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 100px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.login {
  margin-top: 100px;
}

/* navbar */

#navbar {
  padding: 0;
  border-bottom: 3px solid #393939;
}

#navbar .nav-item {
  border-left: 1px solid grey;
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  padding: 10px;
}

#navbar .nav-item .nav-link {
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
  margin-left: 5px;
  margin-right: 5px;
}

#user {
  border-left: 1px solid grey;
}

#user #home {
  -webkit-transform: skew(0deg);
  transform: skew(0deg);
  border: none;
}

#navbar-brand {
  background-color: red;
  color: white;
  padding: 10px;
  margin-left: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

#products, #search {
  margin-top: 150px;
}

#contact {
  margin: 100px 0;
}

.product {
  padding: 20px;
  -webkit-box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
}

.product .buttons:hover {
  color: #ce4233;
}

.profile-section {
  background-image: url("/images/intro-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  height: 450px;
  padding: 60px 20px 0px 20px;
  margin-top: -50px;
  margin-bottom: 70px;
  color: white;
}

.profile-section .avatar {
  margin-bottom: 50px;
}

/*create product form */

.product__form {
  padding: 20px;
}

.search #search:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #C1C1C1;
}

.fas:hover {
  cursor: pointer;
}

.cart-product {
  padding: 20px;
  border-bottom: 1px solid black;
}

/* NProgress */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: red;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px red, 0 0 5px red;
  box-shadow: 0 0 10px red, 0 0 5px red;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner, .nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.add__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  border-radius: 100px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.add__button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add__button:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add__button:focus {
  outline: none !important;
}

.disabled {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  border-radius: 100px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.product-cart {
  border-bottom: 1px solid grey;
  padding-top: 110px;
  text-align: center;
}

.product-cart-image {
  border-bottom: 1px solid grey;
  padding: 20px;
}

.nav-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: red;
  transition: width .3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.warning {
  color: red;
}

.add__product:hover {
  color: grey;
}

.form-buttons {
  margin: 20px;
}

.cart-icon:hover {
  cursor: pointer;
}

.order-enter {
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
  -webkit-transition: .5s;
  transition: .5s;
}

.order-enter.order-enter-active {
  max-width: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.order-exit {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s;
  transition: .5s;
}

.order-exit.order-exit-active {
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
}

.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.Modal {
  border-radius: 15px;
  background-color: white;
  padding: 20px 40px;
  border: 3px solid #333;
  position: relative;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 6px 16px 0px rgba(0, 0, 0, 0.5);
}

.Modal:after {
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: -1;
}

.close {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: black;
}

.close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (max-width: 600px) {
  #navbar {
    padding: 5px 10px;
  }
  #user {
    border: none;
  }
  #navbar .nav-item {
    border-left: none;
  }
  .nav-link:hover::after {
    width: 20%;
    transition: width .3s;
  }
  .profile-section {
    height: 600px;
  }
  .create-product-button {
    margin-top: 40px;
  }
}